{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="AUTHOR" content="Eternion wow private server">
    <meta name="KEYWORDS" content="Eternion wow, wow private server, wow private servers, world of warcraft, WOTLK 3.3, WOTLK 3.3.5, High Rates">
    <meta name="DESCRIPTION" content="One of the best wow private server or the world, World of warcraft Private Servers wotlk 3.3.5, Free private server, wow fun servers, cap level 85, High Rates.">
    <title>{% block title %}Eternion WoW - Private Server{% endblock %}</title>
    
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    
    <style type="text/css">
    .STYLE21 {
        FONT-SIZE: 16px; COLOR: #00ccff
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
    .aa {
        font-size: 11px;
        color: #FFFFFF;
        line-height: 18px;
        padding: 5px;
    }
    .STYLE24 {
        font-size: 11px;
        color: #FFFFFF;
    }
    .blackbox {
        background-color: #000000;
        padding: 5px;
    }
    </style>
    
    <script>
    function whenMouseMove(obj) {
        obj.style.background = "#442911";
    }
    function whenMouseOut(obj) {
        obj.style.background = "#42424e";
    }
    </script>
</head>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">

<table id="__01" cellspacing="0" cellpadding="0" width="1003" align="center" border="0">
    <tbody>
    <tr>
        <td><img src="{% static 'images/eternion_w_o_w_01.jpg' %}" width="352" height="189" alt=""></td>
        <td><img src="{% static 'images/eternion_w_o_w_02.jpg' %}" width="327" height="189" alt=""></td>
        <td><img src="{% static 'images/eternion_w_o_w_03.jpg' %}" width="324" height="189" alt=""></td>
    </tr>
    
    <tr>
        <td bgcolor="#1e1e22" colspan="3" height="2"></td>
    </tr>
    <tr>
        <td colspan="3" height="25">
            <table bordercolor="#1e1e22" cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                <tr>
                    <td width="5%" height="25" align="center" bgcolor="#42424e" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><strong><a href="{% url 'home' %}" class="a1">Home</a></strong></td>
                    <td width="8%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="{% url 'register' %}" class="a1"><strong>Register</strong></a></td>
                    <td width="7%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="{% url 'home' %}" class="a1"><strong>News</strong></a></td>
                    <td width="14%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="{% url 'account' %}" class="a1"><strong>Change Password</strong></a></td>
                    <td width="6%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="#" class="a1"><strong>Rules</strong></a></td>
                    <td width="8%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="#" class="a1"><strong>Downloads</strong></a></td>
                    <td width="7%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="#" class="a1"><strong>Shopping</strong></a></td>
                    <td width="8%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="{% url 'vote' %}" class="a1"><strong>Vote Page</strong></a></td>
                    <td width="5%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="#" class="a1"><strong>FAQ</strong></a></td>
                    <td width="7%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="#" class="a1"><strong>Forums</strong></a></td>
                    <td width="11%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="#" class="a1"><strong>Custom Make</strong></a></td>
                    <td width="18%" align="center" bgcolor="#42424e" class="line_su" onmousemove="whenMouseMove(this)" onmouseout="whenMouseOut(this)"><a href="#" class="a1"><strong>Custom Gear Make</strong></a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#6b6b7a" colspan="3" height="2"></td>
    </tr>
    <tr>
        <td colspan="3" height="8"></td>
    </tr>
    <tr>
        <td colspan="3">
            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                <tr>
                    <!-- LEFT SIDEBAR -->
                    <td valign="top" align="center" width="213">
                        <table cellspacing="0" cellpadding="0" width="190" border="0">
                            <tbody>
                            <tr>
                                <td align="center" background="{% static 'images/bx.jpg' %}" height="29"><strong>Menu</strong></td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" height="122">
                                    <table width="96%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="{% url 'home' %}" class="a1">Home</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="{% url 'register' %}" class="a1">Register</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="{% url 'vote' %}" class="a1">Vote Page</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="{% url 'vote' %}" class="a1">Vote Rewards</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="#" class="a1">Shopping</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="#" class="a1">Related Downloads</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="#" class="a1">Server Rules</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="#" class="a1">Terms of use</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="#" class="a1">F.A.Q</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="#" class="a1">Forums</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="#" class="a1">Contact Us</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="STYLE3 STYLE4 STYLE6" align="center" background="{% static 'images/bx.jpg' %}" height="29"><strong>Account Tools</strong></td>
                            </tr>
                            <tr>
                                <td class="STYLE3 STYLE4 STYLE6" align="center" height="29">
                                    <table cellspacing="0" cellpadding="0" width="96%" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="line_hen" height="25"><a class="a2" href="{% url 'account' %}">Change Password</a></td>
                                        </tr>
                                        <tr>
                                            <td class="line_hen" height="25"><a class="a2" href="#">Unstuck Character</a></td>
                                        </tr>
                                        <tr>
                                            <td class="line_hen" height="25"><a class="a2" href="#">Retrieve Password</a></td>
                                        </tr>
                                        <tr>
                                            <td class="line_hen" height="25"><a class="a2" href="#">Ban Check Char</a></td>
                                        </tr>
                                        <tr>
                                            <td class="line_hen" height="25"><a class="a2" href="#">Ban Check Account</a></td>
                                        </tr>
                                        <tr>
                                            <td class="line_hen" height="25"><a class="a2" href="#">Ban Check IP</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="STYLE3 STYLE4 STYLE6" align="center" background="{% static 'images/bx.jpg' %}" height="29">Each Realm Information</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table height="89" cellspacing="0" cellpadding="0" width="198" align="center">
                                        <tbody>
                                        <tr>
                                            <td class="aa" align="center">
                                                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="STYLE4 STYLE19" align="left"><strong>Eternion80 3.3.x Realm</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="aa" align="left">
                                                            * Supports WotLK Client<br>
                                                            * Open 85 level<br>
                                                            * Battle Groups & BG Bosses<br>
                                                            * Full 3.3.2 ICC Instances<br>
                                                            * Instant 80 level<br>
                                                            * 100x Experience & 100x loot<br>
                                                            * 50x Reputation/ Honor<br>
                                                            * Custom Teleport Function<br>
                                                            * All Working Instances<br>
                                                            * Perfect Custom Quests<br>
                                                            * New T10 set &Pets&Mounts
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="aa" align="center">
                                                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="left"><p class="STYLE19 STYLE18 blackbox"><strong>Apocalypse Fun 3.3.x Realm</strong></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>
                                                            * 85 Level<br>
                                                            * 100x Experience & Loot<br>
                                                            * 50x Reputation & Skill Rate<br>
                                                            * 5x Honor / Arena<br>
                                                            * Accurate World<br>
                                                            * Line of Sight / Collision System<br>
                                                            * All Working Instances & Scripted Boss Fights!!<br>
                                                            * Newest ICC Instances<br>
                                                            * New Custom Instances
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="STYLE4 STYLE19" align="left"><strong>Deathwing 4.0.X Realm</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="aa" align="left">
                                                <p>
                                                * 85 Level<br>
                                                * 100x Experience & Loot<br>
                                                * Active PVP Areas<br>
                                                * Supports WOTLK Clients<br>
                                                * All Working Instances & Scripted Boss Fights!!<br>
                                                * Newest ICC Instances And Items Drop.<br>
                                                * New Custom Instances
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="STYLE4 STYLE19" align="left"><strong>Hellscream Cataclysm Fun 4.0.X Realm</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="aa" align="left">
                                                <p>
                                                * 85 Level<br>
                                                * 100x Experience & Loot<br>
                                                * Active PVP Areas<br>
                                                * Supports WOTLK Clients<br>
                                                * All Working Instances & Scripted Boss Fights!!<br>
                                                * Newest ICC Instances And Items Drop.<br>
                                                * New Custom Instances
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    
                    <!-- MAIN CONTENT -->
                    <td class="line_su1" valign="top" align="center">
                        {% block content %}
                        {% endblock %}
                    </td>
                    
                    <!-- RIGHT SIDEBAR -->
                    <td valign="top" align="center" width="234">
                        <table cellspacing="0" cellpadding="0" width="210" border="0">
                            <tbody>
                            <tr>
                                <td align="center" background="{% static 'images/bx.jpg' %}" height="29"><strong>Server Status</strong></td>
                            </tr>
                            <tr>
                                <td valign="top" align="center">
                                    <table width="96%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        {% for realm in realms %}
                                        <tr>
                                            <td height="25" class="line_hen">
                                                <strong>{{ realm.name }}</strong><br>
                                                Realmlist: <span class="STYLE21">{{ realm.realmlist }}</span><br>
                                                Status: {% if realm.is_online %}<span style="color: #00FF00;">Online</span>{% else %}<span style="color: #FF0000;">Offline</span>{% endif %}<br>
                                                Players: {{ realm.players_online }}/{{ realm.max_players }}
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td height="25" class="line_hen">No realms available</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            
                            {% if user.is_authenticated %}
                            <tr>
                                <td align="center" background="{% static 'images/bx.jpg' %}" height="29"><strong>Account Panel</strong></td>
                            </tr>
                            <tr>
                                <td valign="top" align="center">
                                    <table width="96%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td height="25" class="line_hen">
                                                Username: <strong>{{ user.username }}</strong><br>
                                                Rank: {{ user.userprofile.site_rank }}<br>
                                                Vote Points: {{ user.userprofile.vote_points }}<br>
                                                Donation Points: {{ user.userprofile.donation_points }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="{% url 'account' %}" class="a2">My Account</a></td>
                                        </tr>
                                        <tr>
                                            <td height="25" class="line_hen"><a href="{% url 'logout' %}" class="a2">Logout</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td align="center" background="{% static 'images/bx.jpg' %}" height="29"><strong>Login</strong></td>
                            </tr>
                            <tr>
                                <td valign="top" align="center">
                                    <form method="post" action="{% url 'login' %}">
                                        {% csrf_token %}
                                        <table width="96%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td height="25" class="line_hen">
                                                    <input type="text" name="username" placeholder="Username" style="width: 100%; padding: 3px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="25" class="line_hen">
                                                    <input type="password" name="password" placeholder="Password" style="width: 100%; padding: 3px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="25" class="line_hen">
                                                    <input type="submit" value="Login" style="width: 100%; padding: 5px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="25" class="line_hen"><a href="{% url 'register' %}" class="a2">Create Account</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                            
                            <tr>
                                <td align="center" background="{% static 'images/bx.jpg' %}" height="29"><strong>Shoutbox</strong></td>
                            </tr>
                            <tr>
                                <td valign="top" align="center">
                                    <div style="height: 200px; overflow-y: scroll; width: 96%; padding: 5px;">
                                        {% for message in shoutbox_messages %}
                                        <div style="border-bottom: 1px solid #442911; padding: 3px;">
                                            <strong class="STYLE18">{{ message.username }}:</strong><br>
                                            <span class="STYLE24">{{ message.message }}</span><br>
                                            <small style="color: #666;">{{ message.timestamp|date:"M d, H:i" }}</small>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% if user.is_authenticated %}
                                    <form method="post" action="{% url 'shoutbox_post' %}" style="width: 96%; padding: 5px;">
                                        {% csrf_token %}
                                        <input type="text" name="message" placeholder="Type message..." style="width: 100%; padding: 3px; margin-bottom: 3px;">
                                        <input type="submit" value="Shout" style="width: 100%; padding: 5px;">
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<br><br>

</body>
</html>
