{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="AUTHOR" content="Eternion wow private server">
    <meta name="KEYWORDS" content="Eternion wow, wow private server, wow private servers, world of warcraft, WOTLK 3.3, WOTLK 3.3.5, High Rates">
    <meta name="DESCRIPTION" content="One of the best wow private server or the world, World of warcraft Private Servers wotlk 3.3.5, Free private server, wow fun servers, cap level 85, High Rates.">
    <title>{% block title %}Eternion WoW - Private Server{% endblock %}</title>
    
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    
    <style type="text/css">
    .STYLE21 {
        FONT-SIZE: 16px; COLOR: #00ccff
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
    .aa {
        font-size: 11px;
        color: #FFFFFF;
        line-height: 18px;
        padding: 5px;
    }
    .STYLE24 {
        font-size: 11px;
        color: #FFFFFF;
    }
    .blackbox {
        background-color: #000000;
        padding: 5px;
    }
    </style>
    
    <script>
    function whenMouseMove(obj) {
        obj.style.background = "#442911";
    }
    function whenMouseOut(obj) {
        obj.style.background = "#42424e";
    }
    </script>
</head>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">

<table id="__01" cellspacing="0" cellpadding="0" width="1003" align="center" border="0">
    <tbody>
    
    <!-- Header Banner -->
    {% include 'includes/header_banner.html' %}
    
    <tr>
        <td bgcolor="#1e1e22" colspan="3" height="2"></td>
    </tr>
    
    <!-- Top Navigation Menu -->
    <tr>
        <td colspan="3" height="25">
            {% include 'includes/navbar.html' %}
        </td>
    </tr>
    
    <tr>
        <td bgcolor="#6b6b7a" colspan="3" height="2"></td>
    </tr>
    <tr>
        <td colspan="3" height="8"></td>
    </tr>
    
    <tr>
        <td colspan="3">
            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                <tr>
                    <!-- LEFT SIDEBAR -->
                    <td valign="top" align="center" width="213">
                        <!-- Main Menu -->
                        {% include 'includes/sidebar_menu.html' %}
                        
                        <!-- Account Tools -->
                        {% include 'includes/account_tools.html' %}
                        
                        <!-- Realm Information -->
                        {% include 'includes/realm_info.html' %}
                    </td>
                    
                    <!-- MAIN CONTENT -->
                    <td class="line_su1" valign="top" align="center">
                        {% block content %}
                        {% endblock %}
                    </td>
                    
                    <!-- RIGHT SIDEBAR -->
                    <td valign="top" align="center" width="234">
                        <!-- Server Status -->
                        {% include 'includes/server_status.html' %}
                        
                        <!-- Login/Account Panel -->
                        {% include 'includes/login_panel.html' %}
                        
                        <!-- Shoutbox -->
                        {% include 'includes/shoutbox.html' %}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<br><br>

</body>
</html>
