{% load static %}
<!-- Realm Information Section -->
<table cellspacing="0" cellpadding="0" width="190" border="0">
    <tbody>
    <tr>
        <td class="STYLE3 STYLE4 STYLE6" align="center" height="29" style="background-image: url('{% static 'images/bx.jpg' %}'); background-repeat: no-repeat; background-position: center;">Each Realm Information</td>
    </tr>
    <tr>
        <td align="center">
            <table height="89" cellspacing="0" cellpadding="0" width="198" align="center">
                <tbody>
                <tr>
                    <td class="aa" align="center">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td class="STYLE4 STYLE19" align="left"><strong>Eternion80 3.3.x Realm</strong></td>
                            </tr>
                            <tr>
                                <td class="aa" align="left">
                                    * Supports WotLK Client<br>
                                    * Open 85 level<br>
                                    * Battle Groups & BG Bosses<br>
                                    * Full 3.3.2 ICC Instances<br>
                                    * Instant 80 level<br>
                                    * 100x Experience & 100x loot<br>
                                    * 50x Reputation/ Honor<br>
                                    * Custom Teleport Function<br>
                                    * All Working Instances<br>
                                    * Perfect Custom Quests<br>
                                    * New T10 set &Pets&Mounts
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="aa" align="center">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td class="STYLE4 STYLE19" align="left"><strong>Apocalypse Fun 3.3.x Realm</strong></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                    * 85 Level<br>
                                    * 100x Experience & Loot<br>
                                    * 50x Reputation & Skill Rate<br>
                                    * 5x Honor / Arena<br>
                                    * Accurate World<br>
                                    * Line of Sight / Collision System<br>
                                    * All Working Instances & Scripted Boss Fights!!<br>
                                    * Newest ICC Instances<br>
                                    * New Custom Instances
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="STYLE4 STYLE19" align="left"><strong>Deathwing 4.0.X Realm</strong></td>
                </tr>
                <tr>
                    <td class="aa" align="left">
                        <p>
                        * 85 Level<br>
                        * 100x Experience & Loot<br>
                        * Active PVP Areas<br>
                        * Supports WOTLK Clients<br>
                        * All Working Instances & Scripted Boss Fights!!<br>
                        * Newest ICC Instances And Items Drop.<br>
                        * New Custom Instances
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="STYLE4 STYLE19" align="left"><strong>Hellscream Cataclysm Fun 4.0.X Realm</strong></td>
                </tr>
                <tr>
                    <td class="aa" align="left">
                        <p>
                        * 85 Level<br>
                        * 100x Experience & Loot<br>
                        * Active PVP Areas<br>
                        * Supports WOTLK Clients<br>
                        * All Working Instances & Scripted Boss Fights!!<br>
                        * Newest ICC Instances And Items Drop.<br>
                        * New Custom Instances
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
