{% extends 'base.html' %}
{% load static %}

{% block title %}Armory - Eternion WoW{% endblock %}

{% block content %}
<table cellspacing="0" cellpadding="0" width="536" border="0">
    <tbody>
    <tr>
        <td background="{% static 'images/bd.jpg' %}" height="29">
            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                <tr>
                    <td width="3%">&nbsp;</td>
                    <td align="left" width="97%"><span class="STYLE3">Character Armory</span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center" style="padding: 40px;">
            <p class="STYLE11">Character armory feature coming soon!<br>
            <br>
            Search for any character on our realms and view their stats, gear, and achievements.</p>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
