{% extends 'base.html' %}
{% load static %}

{% block title %}Register - Eternion WoW{% endblock %}

{% block content %}
<table width="536" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td height="29" style="background-image: url('{% static 'images/bd.jpg' %}'); background-repeat: no-repeat; background-position: center;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="3%">&nbsp;</td>
                    <td width="97%" align="left"><span class="STYLE3">Account Registration</span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="192" align="center" valign="top">
            {% if messages %}
                {% for message in messages %}
                <div style="padding: 10px; margin: 10px 0; background-color: {% if message.tags == 'success' %}#004400{% else %}#440000{% endif %}; border: 1px solid {% if message.tags == 'success' %}#00FF00{% else %}#FF0000{% endif %};">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            
            <form method="post" name="reg">
                {% csrf_token %}
                <table width="380" border="0" align="center">
                    <tbody>
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td align="right" class="STYLE11">Username: </td>
                        <td align="left">&nbsp;</td>
                        <td align="left">
                            <input maxlength="16" size="30" name="username" required>
                            *
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="STYLE11">Password: </td>
                        <td align="left">&nbsp;</td>
                        <td align="left">
                            <input type="password" maxlength="16" size="30" name="password" required>
                            *
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="STYLE11">Retype Password: </td>
                        <td align="left">&nbsp;</td>
                        <td align="left">
                            <input type="password" maxlength="16" size="30" name="password2" required>
                            *
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="STYLE11">E-mail: </td>
                        <td align="left">&nbsp;</td>
                        <td align="left">
                            <input maxlength="30" size="30" name="email" required>
                            *
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td align="left" colspan="3" style="font-size:12px; color:#00CCFF;">
                            please make sure your email do not contains illegal character such as" ##$%^&* "
                            *
                        </td>
                    </tr>
                    <tr>
                        <td height="40" colspan="3" align="center">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input name="button" type="submit" value="Create Account">
                        </td>
                    </tr>
                    <tr>
                        <td height="40" colspan="3" align="center">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td align="center" class="STYLE11">
                                        <p>*Please protect your account and the registered email, do not share your accounts information with anyone.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="STYLE11">
                                        <p>* If you forget your password, please check <a href="#" class="a2">here</a></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="STYLE11">
                                        *Realmlist list.eternion-wow.com Click <a href="{% url 'vote' %}" class="a2">here</a> to vote and earn in-game items! Accepted 3.2.X Sever Connection Guide.
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="STYLE11">
                                        <a href="{% url 'downloads' %}" class="a2">Server Connection Guide</a>.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="40" colspan="3" align="center">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="40" colspan="3" align="center">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
{% endblock %}
