{% extends 'base.html' %}
{% load static %}

{% block title %}Shopping - Eternion WoW{% endblock %}

{% block content %}
<table cellspacing="0" cellpadding="0" width="536" border="0">
    <tbody>
    <tr>
        <td background="{% static 'images/bd.jpg' %}" height="29">
            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                <tr>
                    <td width="3%">&nbsp;</td>
                    <td align="center" width="97%"><span class="STYLE3">Donation Shop</span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center" style="padding: 20px;">
            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td class="STYLE11">
                        <p>Eternion-wow is a absolutely free World of Warcraft private server.<br>
                        <br>
                        However, your donations help keep this server running at peak performance. By donating, you'll receive exclusive VIP benefits and custom items not available anywhere else!
                        </p>
                    </td>
                </tr>
                <tr>
                    <td height="20">&nbsp;</td>
                </tr>
                <tr>
                    <td class="STYLE4" height="30">VIP Packages</td>
                </tr>
                <tr>
                    <td class="line_hen" height="60" style="padding: 10px;">
                        <strong class="STYLE18">Bronze VIP - $10</strong><br>
                        <span class="STYLE24">• 1000 Donation Points<br>
                        • VIP Bronze Rank<br>
                        • Access to VIP Shop<br>
                        • Special In-Game Title</span>
                    </td>
                </tr>
                <tr>
                    <td class="line_hen" height="60" style="padding: 10px;">
                        <strong class="STYLE18">Silver VIP - $25</strong><br>
                        <span class="STYLE24">• 2750 Donation Points<br>
                        • VIP Silver Rank<br>
                        • Access to VIP Shop + Premium Section<br>
                        • Exclusive Mount + Pet<br>
                        • Custom Tabard</span>
                    </td>
                </tr>
                <tr>
                    <td class="line_hen" height="60" style="padding: 10px;">
                        <strong class="STYLE18">Gold VIP - $50</strong><br>
                        <span class="STYLE24">• 6000 Donation Points<br>
                        • VIP Gold Rank<br>
                        • Full VIP Shop Access<br>
                        • 3 Exclusive Mounts + 3 Pets<br>
                        • Custom Weapon Appearance<br>
                        • Gold Name Color In-Game</span>
                    </td>
                </tr>
                <tr>
                    <td class="line_hen" height="60" style="padding: 10px;">
                        <strong class="STYLE18">Platinum VIP - $100</strong><br>
                        <span class="STYLE24">• 15000 Donation Points<br>
                        • VIP Platinum Rank<br>
                        • Everything from Gold VIP<br>
                        • 10 Custom Items of Your Choice<br>
                        • Custom Gear Set Design<br>
                        • Priority GM Support<br>
                        • Purple Name Color In-Game</span>
                    </td>
                </tr>
                <tr>
                    <td height="20">&nbsp;</td>
                </tr>
                <tr>
                    <td class="STYLE4" height="30">Custom Services</td>
                </tr>
                <tr>
                    <td class="line_hen" height="40" style="padding: 10px;">
                        <strong class="STYLE18">Custom Weapon - $15</strong><br>
                        <span class="STYLE24">Design your own unique weapon with custom stats!</span>
                    </td>
                </tr>
                <tr>
                    <td class="line_hen" height="40" style="padding: 10px;">
                        <strong class="STYLE18">Custom Armor Set - $30</strong><br>
                        <span class="STYLE24">Create a complete custom armor set with your chosen appearance and stats!</span>
                    </td>
                </tr>
                <tr>
                    <td class="line_hen" height="40" style="padding: 10px;">
                        <strong class="STYLE18">Character Boost to 80 - $20</strong><br>
                        <span class="STYLE24">Instantly level your character to 80 with starter gear!</span>
                    </td>
                </tr>
                <tr>
                    <td height="20">&nbsp;</td>
                </tr>
                <tr>
                    <td class="STYLE11" align="center">
                        <p><strong class="STYLE3">Contact Administration</strong><br>
                        <br>
                        To make a donation, please contact us at:<br>
                        <a href="mailto:eternion-wow@hotmail.com" class="a2"><strong>eternion-wow@hotmail.com</strong></a><br>
                        <br>
                        Or contact a GM in-game!
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
